[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
black = "*"
aiohttp = "*"
pycountry = "*"

[dev-packages]
flake8 = "*"
bandit = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
